﻿
@model Dashboard_MVC.ViewModels.ChartsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="font:bold 18pt verdana;">
    @ViewBag.Title
</div>
<hr style="border:solid 1px #000080" />
<div>
    <div class="container">
        <div class="col-lg-10">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <div class="row center-block">

                        @{
                            if (ViewBag.Viewer is Array)
                            {
                                // Display multiple charts
                                for (int i = 0; i < ViewBag.Viewer.Length; ++i)
                                {
                                    @:@Html.Raw(ViewBag.Viewer[i].RenderHTML())
                                if (i == 1)
                                    {
                                        @:</div><div class="row center-block">
                                        }
                                }
                            }
                            else
                            {
                                // Display one chart only
                                @:@Html.Raw(ViewBag.Viewer.RenderHTML())
                                        }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="row">
                @{
                    if (ViewBag.y2 == 0)
                    {
                        @:<a href="Charts?year2=1" class="btn btn-primary">Show 2 year comparison</a>
                            }
                    else
                    {
                        @:<a href="Charts?" class="btn btn-primary">Show current month</a>
                            }
                }

            </div>
            <div class="btn-group">
                <div class="row">
                    <label for="selectedGroup">
                        Select a Provider Group:
                        @Html.DropDownListFor(m => m.selectedGroup, new SelectList(Model.PGroupList, Model.PGroupList))
                        <input type="radio" name="pgClinic" id="PG" value="PG" checked />
                    </label>
                </div>
                <div class="row">
                    Or
                </div>
                <div class="row">                    
                    <label for="selectedClinic">
                        Select a CDM Clinic:
                        @Html.DropDownListFor(m => m.selectedClinic, new SelectList(Model.ClinicList, Model.ClinicList))
                        <input type="radio" name="pgClinic" id="Clinic" value="Clinic" />
                    </label>
                </div>
            </div>
            <br />

@{
    if (ViewBag.y2 == 0)
    {
            <div class="row">
                <label for="startDate">Month 1:</label>
                @Html.TextBoxFor(m => m.month1, "{0:MM-yyyy}", new { @id = "m1", @class = "form-control datepicker", placeholder = "Enter month 1 here..." })
            </div>
            <div class="row">
                <label for="endDate">Month 2:</label>
                @Html.TextBoxFor(m => m.month2, "{0:MM-yyyy}", new { @id = "m2", @class = "form-control datepicker", placeholder = "Enter month 2 here..." })
            </div>
    }
    else
    {
        <div class="row">
            <label for="startDate">Year 1:</label>
            @Html.TextBoxFor(m => m.month1, "{0:yyyy}", new { @id = "m1", @class = "form-control datepicker", placeholder = "Enter month 1 here..." })
        </div>
            <div class="row">
                <label for="endDate">Year 2:</label>
                @Html.TextBoxFor(m => m.month2, "{0:yyyy}", new { @id = "m2", @class = "form-control datepicker", placeholder = "Enter month 2 here..." })
            </div>
    }
}
            <div class="row">
                <br />
                <a class="btn btn-default" id="updateButton" href="#">Update Parameters</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if (getParameterByName("clinic") === null) {
            $('#selectedClinic').prop("disabled", true);
            $('#PG').prop("checked", true);
        }
        else {
            $('#selectedGroup').prop("disabled", true);
            $('#Clinic').prop("checked", true);
        }

        $('input[type=radio][name=pgClinic]').on('change', function () {
            var radioValue = $("input[name='pgClinic']:checked").val();
            if (radioValue === 'PG') {
                $('#selectedClinic').prop("disabled", true);
                $('#selectedGroup').prop("disabled", false);
            }
            else {
                $('#selectedClinic').prop("disabled", false);
                $('#selectedGroup').prop("disabled", true);
            }
        });

        if(@ViewBag.y2 === 0){
            $('.datepicker').datepicker({
                format: "mm-yyyy",
                startView: "months",
                minViewMode: "months"
            });
        }
        else{
            $(".datepicker").datepicker( {
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years"
            });
        }

        $('#updateButton').on("click", function () {
            var url;
            if(@ViewBag.y2 == 1){
                var yr1 = $("#m1").val().trim().substr($("#m1").length - 5);
                var yr2 = $("#m2").val().trim().substr($("#m2").length - 5);
                url = "Charts?year2=" + @ViewBag.y2 + "&month1=" + "01-" + yr1 + "&month2=" + "01-" + yr2;
            }
            else{
                var yr1 = $("#m1").val().trim();
                var yr2 = $("#m2").val().trim();
                url = "Charts?year2=" + @ViewBag.y2 + "&month1=" + yr1 + "&month2=" + yr2;
            }
            if ($("input[name='pgClinic']:checked").val() === 'PG')
            {
                url = url + "&group=" + $('#selectedGroup').val();
            }
            else {
                url = url + "&clinic=" + $('#selectedClinic').val();
            }
            this.href = url;
        });

        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    });
</script>
